{{#> index}}
    {{#*inline "page-content"}}
        {{#if breadcrumbs}}
        <ul class="breadcrumb">
            {{#each breadcrumbs}}
                {{#if this.href}}
                    <li class="breadcrumb-item">
                        <a href="{{this.href}}">{{this.title}}</a>
                    </li>
                {{else}}
                    <li class="breadcrumb-item active">
                        {{this.title}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        {{/if}}
        {{#if pageHeader}}
            <h1 class="page-header">{{ pageHeader }}</h1>
        {{/if}}
        {{{ content }}}
    {{/inline}}
{{/index}}